<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This is a boilerplate website created as part of a Udemy <a href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2">Course</a> </p>
        <p>It uses Mapbox and Weatherstack APIs</p>
        <img class="portrait" src="img/pic.jpg">
    </div>
    {{>footer}}
</body>
</html>


